<div class = "container-fluid">
  <div class = "col-md-4"></div>
  <div class = "col-md-4">
    <%= form_tag "/products/#{@product.id}", method: :patch do %>
    <div class = "form-group">
      <%= label_tag :name %>
      <%= text_field_tag :name, @product.name %>
    </div>
    <div>
      <%= label_tag :price %>
      <%= text_field_tag :price, @product.price%>
    </div>
    <div>
      <%= label_tag :description %>
      <%= text_area_tag :description, @product.description %>
    </div>
    <div>
      <%= label_tag :image %>
      <%= text_field_tag :image, @product.image %>
    </div>
      <%= submit_tag "Submit Changes",  %>
    <% end %>
  </div>
</div>