<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3 class = "center-text">New Product Entry Form</h3>
      <%= form_tag '/products', method: :post do %>
        <div class="form-group">
          <%= label_tag :name, "Product Name" %>
          <%= text_field_tag :name, "Fruit", class: "form-control" %>
        </div>      
        <div class="form-group">
          <%= label_tag :price, "Product Price in Cents" %>
          <%= text_field_tag :price, "100", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag :description, "Product Description" %>
          <%= text_field_tag :description, "This is a tasty fruit", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag :image, "Product Image" %>
          <%= text_field_tag :image, "URL Goes Here", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag :instock, "In Stock?" %>
          <%= check_box :instock, :in_stock, {class: "checkbox"}, checked_value = "true", unchecked_value = "false" %>
        </div>
        <div class="form-group center-text">
          <%= submit_tag "Submit Product", class: "btn btn-default btn-lg" %>
        </div>
      <% end %>
      <div class="form-group center-text">
          <%= link_to "Abort Mission", "/products", class: "btn btn-default btn-lg" %>
      </div>
    </div>
  </div>
</div>