<div class = "container-fluid">
  <div class = "col-md-4"></div>
  <div class = "col-md-4">
    <%= form_for @product do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :price %>
        <%= f.text_field :price, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :instock? %>
        <%= f.check_box :instock %>
      </div>
      <div class="form-group">
        <%= f.label :supplier_id %>
        <%= f.collection_select :supplier_id, Supplier.all, :id, :company_name%>
      </div>
      <%= f.fields_for :images do |ff| %>
        <div class="form-group">
          <%= ff.label :url, "Image URL 2" %>
          <%= ff.text_field :url, class: "form-control"%>
        </div>
      <% end %>
      <%= f.fields_for :images do |ff| %>
        <div class="form-group">
          <%= ff.label :url, "Image URL" %>
          <%= ff.text_field :url, class: "form-control"%>
        </div>
      <% end %>
      <div class="form-group center-text">
        <%= f.submit "Add Product", class: "btn btn-default btn-lg" %>
      </div>
    <% end %>
    <div class="form-group center-text">
      <%= link_to "Abort Mission", "/products", class: "btn btn-default btn-lg" %>
    </div>
  </div>
</div>