<div class = "container-fluid">
  <div class = "col-md-3">
  </div>
  <div class = "col-md-6 individual-product">
    <h3>Product Name</h3>
    <p><%= @product.name %></p>
    <h4 class = "discount-message"><%= @product.discount_message %></h4>
    <h3>Product Prices</h3>
    <p>Store Price: <%= @product.price_dollar_form(@product.price) %><br>Tax: <%= @product.price_dollar_form(@product.tax_calc) %><br>Price With Tax: <%= @product.price_dollar_form(@product.total_price) %></p>
    <h3>Product Description</h3>
    <p><%= @product.description %></p>
    <h3>Product Image</h3>
    <p><img src="<%= @product.image %>" class = "img-responsive individual-image"></p>
    <p><%= link_to "Permanently Delete \"#{@product.name}\" From The Database", product_path(@product.id), method: :delete, class: "btn btn-default btn-lg" %></p>
    <p><%= link_to "Edit \"#{@product.name}\"", edit_path, method: :get, class: "btn btn-default btn-lg" %></p>
    <p><a href="/products/"><button class = "btn btn-default btn-lg">Back to all products</button></a></p>
  </div>
</div>

