<!DOCTYPE html>
<html>
<head>
  <title>EcommerceApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Ecommerce Application Mini-Capstone</h1>
    <% flash.each do |name, message| %>
      <div class = "container-fluid">
        <div class = "alert alert-<%= name %> alert-dismissible" role = "alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %>
        </div>
      </div>
    <% end %>
  </header>
<%= yield %>
  <footer class = "footer">
    Copyright 2015 created by Matt Gainer
  </footer>
</body>
</html>
