<!DOCTYPE html>
<html>
<head>
  <title>The Fruit Cellar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>The Fruit Cellar</h1>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">The Fruit Cellar</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown"><a href="/products" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
              <ul class = "dropdown-menu">
                <li><%= link_to "All Products", "/products" %></li>
                <li><%= link_to "Price: High to Low", "/products?order=PHtoL" %></li>
                <li><%= link_to "Price: Low to High", "/products?order=PLtoH" %></li>
                <li><%= link_to "Discounts (#{Product.last.price_dollar_form(Product.discount)})", "/products?discount=true" %></li>
                <li><%= link_to "New", "/products/new" %></li>
                <li><%= link_to "Random Product", "/products/#{Product.random_id}" %></li>
                <li role="separator" class="divider"></li>
                <% Category.all.each do |category| %>
                  <li><%= link_to category.name, "/products/?category=#{category.id}" %></li>
                <% end %>
              </ul>
            </li>
            <% if current_user %>
              <% if current_user.admin? %>
                <li><%= link_to "Suppliers", "/suppliers" %></li>
                <li><%= link_to "Images", "/images" %></li>
              <% end %>
            <% end %>
            <li><%= link_to "My Order History", "/orders" %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><%= link_to "Sign Out", "/users/sign_out", method: :delete %></li>
            <li><%= link_to "#{current_user.full_name}", "/users/edit", method: :get %></li>
            <% if current_user.buyer? %>
              <li><%= link_to "Cart (#{@cart_count})", "/orders/#{Order.find_by(user_id: current_user.id, open: true).id}" %></li>
            <% end %>
          <% else %>
            <li><%= link_to "Sign In", "/users/sign_in", method: :get %></li>
            <li><%= link_to "Sign Up", "/users/sign_up" %></li>
          <% end %>
          </ul>
          <%= form_tag '/products', method: :get, class: "navbar-form navbar-right" do %>
            <div class="form-group">
            <%= text_field_tag :search, "Search", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= submit_tag "Search", class: "btn btn-default" %>
          <% end %>
        </div>
      </div>
    </nav>
    <% flash.each do |name, message| %>
      <div class = "container-fluid">
        <div class = "alert alert-<%= name %> alert-dismissible" role = "alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %>
        </div>
      </div>
    <% end %>
  </header>
<%= yield %>
  <footer class = "footer">
    Copyright 2015 created by Matt Gainer
  </footer>
</body>
</html>
